* {
  margin: 0;
  padding: 0;
}

@import "./setup/_mediaMixin.scss";
@import "./setup/_fontsAndColors.scss";


button {
  display: block;
  border: none;
  background: none;
  outline: none;
}


@import "./common/withTransparentBackground.scss";

@import "../../components/TopPanel/TopPanel.scss";
@import "../../components/TopPanel/HamburgerMenu/HamburgerMenu.scss";

@import "../../components/Notes/Notes.scss";

@import "../../components/AddMenu/AddMenu.scss";