$screens: ("all", 660, 1000, 1360, 1900);
@mixin media($property, $values) {
  @for $i from 1 through length($values) {
    $value: nth($values, $i);
    $screen: nth($screens, $i);
    @if $screen == "all" {
      #{$property}: unquote(#{$value});
    } @else {
      @media screen and (min-width: $screen + "px") {
        #{$property}: unquote(#{$value});
      }
    }
  }
}

$screensPortrait: ("all", 370, 410, 760);
@mixin mediaPortrait($property, $values) {
  @for $i from 1 through length($values) {
    $value: nth($values, $i);
    $screen: nth($screensPortrait, $i);
    @if $screen == "all" {
      #{$property}: unquote(#{$value});
    } @else {
      @media (min-width: $screen + "px") {
        #{$property}: unquote(#{$value});
      }
    }
  }
}
